@import "~bootstrap/dist/css/bootstrap.min.css";
#carta {
  padding: 40%;
  font-size: 100px;
}
#pinta {
  padding: 5px;
  font-size: 100px;
}
#pinta2 {
  padding: 5px 5px 5px 5px;

  font-size: 100px;
}
.pinta2 {
  padding-bottom: 100px;
}
.carta {
  padding-top: 100px;
}
